<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
	<head>
		<title>Pedido</title>
	</head>
	<body>
		<h1 layout:fragment="header">
			Pedido
		</h1>
		<div layout:fragment="content" class="container">
			<div th:if="${globalMessage}" th:text="${globalMessage}" class="alert alert-success">
				Pedido cadastrado com sucesso
			</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Cliente</td>
                        <td>Data</td>
                        <td>Preço total</td>
                        <td>Itens</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="id" th:text="${pedido.id}">1</td>
                        <td id="nome" th:text="${pedido.cliente.nome}">Nome</td>
                        <td id="data" th:text="${#dates.format(pedido.data, 'dd-MM-yyyy HH:mm:ss')}">Data</td>
                        <td id="precoTotal" th:text="${pedido.precoTotal}">Preço total</td>
                        <td id="itens" th:each="item: ${pedido.itens}">
                            <div th:text="${item.nome}">Nome</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-left">
                <a th:href="@{'/pedidos/alterar/'+${pedido.id}}" href="form.html">
                    Alterar
                </a>
                |
                <a th:href="@{'/pedidos/remover/'+${pedido.id}}" href="pedidos">
                    Remover
                </a>
                |
                <a th:href="@{/pedidos/}" href="list.html">
                    Voltar
                </a>
            </div>
		</div>
	</body>
</html>