<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
	<head>
		<title>Itens</title>
	</head>
	<body>
		<h1 layout:fragment="header">
			Itens cadastrados
		</h1>
		<div layout:fragment="content" class="container">
            <a th:href="@{/admin/itens/novo}" href="form.html">Cadastrar novo item</a>
			<div th:if="${globalMessage}" th:text="${globalMessage}" class="alert alert-success">
				Mensagem
			</div>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${itens.empty}">
                        <td colspan="3">Nenhum item cadastrado</td>
                    </tr>
                    <tr th:each="item: ${itens}">
                        <td th:text="${item.id}">1</td>
                        <td>
                            <a th:href="@{'/admin/itens/'+${item.id}}" href="view.html"
                                th:text="${item.nome}"
                            >
                                Nome
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-left"><a th:href="@{/admin/}">Voltar</a></div>
		</div>
	</body>
</html>